This is the {{ num2words(post_number, ordinal=True) }} in a series of several posts on how to do way more than you really need to with Let's Encrypt, `certbot`, and a good server. It was inspired by [a disturbing trend of ISP privacy violations](https://web.archive.org/web/20171214121709/http://forums.xfinity.com/t5/Customer-Service/Are-you-aware-Comcast-is-injecting-400-lines-of-JavaScript-into/td-p/3009551) and [the shocking regulatory capture of the US Federal Communications Commission](https://www.fcc.gov/document/fcc-takes-action-restore-internet-freedom). I use all of these things regularly but I've never taken the time to take them apart, look at how they work, and spend hours in Google trying to put them back together.
