{% extends 'base.md.j2' %}
{% block lead_paragraph %}

This post looks at the sad state of affairs that is the US internet. It also provides background on HTTP, HTTPS, HSTS, Let's Encrypt, and `certbot`. It's intended as a gentle introduction and mainly served as a way for me to define what it was I was trying to accomplish.

{% endblock %}
{% block content %}

{% endblock %}
