{% extends 'base.md.j2' %}
{% block lead_paragraph %}

This post is all about getting your machine ready to run itself. I've tried to actually explain everything that went into the configuration, which was very useful to me and hopefully offers something to you. I provide a general Linux approach, a tested Nginx configuration, and some Apache stuff I researched because I'll probably have to support that at work.

{% endblock %}
{% block content %}

{% endblock %}
