{% extends 'base.md.j2' %}
{% block lead_paragraph %}

This post looks at the sad state of affairs that is the US internet. It also provides background on HTTP, HTTPS, HSTS, Let's Encrypt, and `certbot`. It's intended as a gentle introduction and mainly served as a way for me to define what it was I was trying to accomplish.

{% endblock %}
{% block content %}

## The Status Quo

2017's been a really scary year for the internet. Corporations strong-armed the W3C into [adding black box DRM to the HTML spec](https://www.eff.org/deeplinks/2017/09/open-letter-w3c-director-ceo-team-and-membership). WPA2 was [cracked](https://www.krackattacks.com/). IoT botnets, [while not making much of a splash this year](http://blog.netlab.360.com/iot_reaper-a-rappid-spreading-new-iot-botnet-en/), are now a regular threat. The US Federal Communications Commissions seems to be in [the final stages of regulatory capture](https://www.fcc.gov/document/fcc-takes-action-restore-internet-freedom).

The fight for US net neutrality has been center stage, at least everywhere I look, for the past month. So much so that I almost missed [this very interesting story about Comcast snooping unencrypted traffic](https://web.archive.org/web/20171214121709/http://forums.xfinity.com/t5/Customer-Service/Are-you-aware-Comcast-is-injecting-400-lines-of-JavaScript-into/td-p/3009551). Within a day or two of reading the original post, I stumbled on [this thread illustrating the same problem within Steam](https://www.reddit.com/r/gaming/comments/7ht8do/comcast_has_decided_to_start_injecting_popups/) (apparently [Steam never learned](http://store.steampowered.com/news/19852/)). Apparently [ISPs have been injecting code for years](https://www.infoworld.com/article/2925839/net-neutrality/code-injection-new-low-isps.html). That's not okay.

Sidestepping some of these issues takes a small investment of time up front, but is quickly automated afterward. The pernicious attitude that HTTPS isn't really necessary needs to go away, and this is a great place to start.

## The Stack

Before looking at how to build a strong configuration, let's look at the components involved. It's hard to understand why HTTPS is important without understanding what distinguishes it from HTTP. Without some historical perspective, Let's Encrypt seems like just the right thing and natural thing to do (it is) instead of the daring breakthrough it was.

## HTTP vs HTTPS

The primary difference between [HTTP](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol) and [HTTPS](https://en.wikipedia.org/wiki/HTTPS) is encryption. The former is transmitted in the clear; the latter is encrypted prior to transmission. As web traffic flows through many nodes between source and destination, there are many opportunities for tampering or sniffing. HTTP neither has the ability to prevent attacks like this nor the hindsight to know they occurred. HTTPS defeats tampering and sniffing via [symmetric-key cryptography](https://en.wikipedia.org/wiki/Symmetric-key_algorithm) (assuming, of course, the attacker does not have access to sufficiently superior hardware).

However, HTTPS isn't just for people that need to pass secrets. It adds an extra layer of authenticity, giving your users some confidence they're actually communicating with you. To an extent, it keeps communication and activity private. HTTPS means the parties involved, and (theoretically) only the parties involved, will communicate.

Serving HTTP content is as simple as throwing something on a public address (well, with DNS and all that too, but I'm doing simple here). Serving HTTPS content requires more tooling. The box in question needs a digital identity (a cert) that will be used to establish secure pipelines. While you can technically [issue one yourself](http://www.selfsignedcertificate.com/), the internet usually expects [a third party](https://en.wikipedia.org/wiki/Certificate_authority) to be involved (and by "usually" I mean "self-signed certs are never accepted"). After obtaining digital ID, the content has to be served via encryption libraries (e.g. [the indomitable OpenSSL](https://www.openssl.org/)) and consumed by user agents capable of handling the encrypted tunnels (glossing over some refactoring that inevitably must be done to fix protocol-aware content). Modern webservers and browsers make the entire exchange fairly straightforward.

To make life easier, HTTPS content is usually served with additional HTTP pointers to the secure content, which cover user agents that don't try HTTPS by default. Nine times out of ten that means `http://example.com/page` gets a `301 Moved Permanently` that points to `https://example.com/page` (and I'm not sure what happens the other one time). HTTP and HTTPS are two very different protocols (rather, [application layer](https://en.wikipedia.org/wiki/Application_layer) v.s. [transport layer](https://en.wikipedia.org/wiki/Transport_layer)), so you can't serve HTTPS as HTTP. Instead, you instruct the user to resend the request using HTTPS.

## HSTS

HTTP Strict Transport Security (HSTS) is [a web standard](https://tools.ietf.org/html/rfc6797) that instructs user agents to use strict HTTPS. Its support is [pretty universal](https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security#Browser_support). The HSTS header automatically redirects HTTP traffic to HTTPS, adding another layer of enforcement. If it encounters an invalid HTTPS configuration (e.g. cert errors), HSTS prevents users from accessing the page entirely (e.g. [this intentional error page](https://subdomain.preloaded-hsts.badssl.com/)). It's cached by the browser, not the server, so an attacker can't just remove it from your content and redirect to a spoofed site.

HSTS can make sites a bit more complicated. It's recommended [to cover subdomains](https://blog.qualys.com/securitylabs/2016/03/28/the-importance-of-a-proper-http-strict-transport-security-implementation-on-your-web-server), but that can be complicated on larger sites. Wildcard certs and HSTS can actually [track everything ever](https://github.com/ben174/hsts-cookie), so you have to be aware of what you're loading externally. Finally, attackers aren't the only ones that can break HSTS. If your configuration breaks (e.g. forgot to renew the cert), users are locked out until you fix it.

At its core, HSTS is intended to snag some low-hanging fruit. By enforcing a site-wide HTTPS policy, shady third-party code can't hijack content (sort of). It's also much harder to execute a [man-in-the-middle attack](https://en.wikipedia.org/wiki/Man-in-the-middle_attack) of common varieties against a site with HSTS declared. More importantly, it forces users to switch to secure traffic (which probably could have been done years ago if certs weren't such a racket), all without making their eyes glaze over trying to figure out how to be safe. It just works.

{% endblock %}
