{% extends 'base.md.j2' %}
{% block lead_paragraph %}

This post looks at the sad state of affairs that is the US internet. It also provides background on HTTP, HTTPS, HSTS, Let's Encrypt, and `certbot`. It's intended as a gentle introduction and mainly served as a way for me to define what it was I was trying to accomplish.

{% endblock %}
{% block content %}

## The Status Quo

2017's been a really scary year for the internet. Corporations strong-armed the W3C into [adding black box DRM to the HTML spec](https://www.eff.org/deeplinks/2017/09/open-letter-w3c-director-ceo-team-and-membership). WPA2 was [cracked](https://www.krackattacks.com/). IoT botnets, [while not making much of a splash this year](http://blog.netlab.360.com/iot_reaper-a-rappid-spreading-new-iot-botnet-en/), are now a regular threat. The US Federal Communications Commissions seems to be in [the final stages of regulatory capture](https://www.fcc.gov/document/fcc-takes-action-restore-internet-freedom).

The fight for US net neutrality has been center stage, at least everywhere I look, for the past month. So much so that I almost missed [this very interesting story about Comcast snooping unencrypted traffic](https://web.archive.org/web/20171214121709/http://forums.xfinity.com/t5/Customer-Service/Are-you-aware-Comcast-is-injecting-400-lines-of-JavaScript-into/td-p/3009551). Within a day or two of reading the original post, I stumbled on [this thread illustrating the same problem within Steam](https://www.reddit.com/r/gaming/comments/7ht8do/comcast_has_decided_to_start_injecting_popups/) (apparently [Steam never learned](http://store.steampowered.com/news/19852/)). Apparently [ISPs have been injecting code for years](https://www.infoworld.com/article/2925839/net-neutrality/code-injection-new-low-isps.html). That's not okay.

Sidestepping some of these issues takes a small investment of time up front, but is quickly automated afterward. The pernicious attitude that HTTPS isn't really necessary needs to go away, and this is a great place to start.

## The Stack

Before looking at how to build a strong configuration, let's look at the components involved. It's hard to understand why HTTPS is important without understanding what distinguishes it from HTTP. Without some historical perspective, Let's Encrypt seems like just the right thing and natural thing to do (it is) instead of the daring breakthrough it was.

{% endblock %}
