{% extends 'base.md.j2' %}
{% block lead_paragraph %}

This post looks a collection of useful security headers. I've tried to explain what each one does, where it can be helpful, and where it might bite you. None of these are absolutely; if nothing else I strongly recommend using HSTS.

{% endblock %}
{% block content %}

{% endblock %}
